body {
  background-color: #d1f5d3;
}

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
  h1 {
    color: #66BFBF;
}
h3 {
  color: #66BFBF
}
